# Логи
*.log

# Файлы окружения
.env
.env.local

# Зависимости Node.js
node_modules/

# Системные файлы
.DS_Store
Thumbs.db

# Бинарные файлы .NET
bin/
obj/

# Кэш
.cache/
dist/

# Идеи редакторов
.idea/
.vscode/

# Временные файлы
tmp/
temp/
